.App {
	text-align: center;
	}
	
	.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	}
	
	.App-logo {
	height: 80px;
	}
	
	input {
	border: 2px solid #ffcc81;
	background-color: transparent;
	border-radius: 30px;
	padding: 8px 16px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	transition: all 0.3s ease;
	}
	
	input:focus {
	outline: none;
	border: 2px solid #ffcc81;
	background-color: #ffcc81;
	color: white;
	}
	
	.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	}
	
	.App-header {
	background-color: #178577;
	height: 100px;
	padding: 20px;
	color: #f8f8f8;
	}
	
	.App-title {
	font-size: 3em;
	font-weight: bold;
	color: #ffcc81;
	margin-top: 0;
	}
	
	cite {
	font-weight: bold;
	}
	
	table {
	align-content: center;
	margin: auto;
	border-collapse: collapse;
	}
	
	td {
	padding: 20px;
	border: 2px solid #ffcc81;
	}
	
	.App-intro {
	font-size: 1.5em;
	}
	
	.cap-first-letter:first-letter {
	text-transform: uppercase;
	}
	
	.col-sm-6,
	col-md-4 {
	border: 2px solid #ffcc81;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
	overflow: hidden;
	}
	
	.hometext {
	max-width: 60%;
	color: #178577;
	font-size: 1.2em;
	line-height: 1.5em;
	}
	
	.showlink {
	padding: 0.4rem 0.8rem;
	background-color: #ffcc81;
	border-radius: 30px;
	color: #224c39;
	text-decoration: none !important;
	margin: 5px;
	transition: all 0.3s ease;
	}
	
	.showlink:hover {
	background-color: #178577;
	color: #f8f8f8;
	border: 2px solid #f8f8f8;
	}
	
	li {
	padding: 20px;
	}
	
	p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
	}
	
	div {
	text-align: center;
	}
	
	a {
	color: #178577;
	text-decoration: none !important;
	}
	
	ul a:hover {
	background-color: #178577;
	color: #f8f8f8;
	}
	
	ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
	.title {
	font-weight: bold;
	color: #559990;
	font-size: 2em;
	margin-top: 0;
	}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}
