.App {
	text-align: center;
	}
	
	.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	}
	
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
	background-color: #178577;
	height: 100px;
	padding: 20px;
	color: #f8f8f8;
	}
	
	.App-title {
	font-size: 3em;
	font-weight: bold;
	color: #ffcc81;
	margin-top: 0;
	}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
  }
  
  .button-container {
    position: fixed; /* position the button container */
    bottom: 0; /* align to the bottom of the page */
    left: 50%; /* center horizontally */
    transform: translateX(-50%); /* adjust the position */
    padding: 20px; /* add some padding */
  }

  .showlink {
    padding: 0.4rem 0.8rem;
    background-color: #ffcc81;
    border-radius: 30px;
    color: #224c39;
    text-decoration: none !important;
    margin: 5px;
    transition: all 0.3s ease;
    }
    
    .showlink:hover {
    background-color: #178577;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    }